.top-bar {
    background: white;
    border-bottom: 4px solid red;
    height: 54px;
    font-size: 12px;
    width: 100%;
}

.top-bar .logo {
    float: left;
    width: 12%;
    background: url('../../../images/projectmanager/common/marpo-grpoup-logo.jpg') no-repeat left;
    height: 100%;
}

.top-bar .main_version {
    float: left;
    width: 12%;
    margin-top: 25px;
    font-size: 10px;
    color: black;
    padding: 10px;
}

.top-bar .version {
    float: left;
    width: 60%;
    margin-top: 25px;
    font-size: 10px;
    color: black;
    padding: 10px;
}

.top-bar .headmenu {
    position: relative;
    float: left;
    padding-top: 9px;
    /*width: 8%;*/
    cursor: pointer;
    height: 100%;
    color: black;
}

#userHead {
    position: relative;
    height: 100%;
    width: 25%;
    float: left;
    font-size: 13px;
    color: black;
}

#userHead .loginInfo {
    position: relative;
    left: 100px;
}

#userMainHead {
    position: relative;
    height: 100%;
    width: 25%;
    float: left;
    border-left: groove 2px #3c3c3c;
    font-size: 13px;
    color: black;
}

#userMainHead .logout {
    position: absolute;
    right: 20px;
    top: 10px;
}

#userMainHead .loginInfo {
    position: relative;
    left: 
}

#userMainHead .loginInfo div {
    display: inline;
    position: relative;
    top: 10px;
    padding: 5px 
}

#userMainHead .loginInfo span.sep {
    border-right: 2px solid #c9b20a;
    line-height: 2px;
    position: relative;
    top: 8px;
    font-size: 10px;
}

#userMainHead .loginInfo div {
    color: black;
    font-size: 15px;
    font-weight: bold;
}