/* ----------- Left Menu    Panel ----------- */

/*body{
    font-family: 'roboto';
    margin: 0;
    color: #2C2828;
    background: #ebebeb;
    font-size: 13px;
}*/

select {
    width:150px;
}

.maincontent {
    width: 99%;
}

.leftmenucontainer {
    width: 15%;
}

.content {
    width: 84%;
    float: right;
    margin-top: -550px;
    height: 500px;
}

.contentNoSideBar {
    width: 84%;
    /*float: right;*/
    /*margin-top: -550px;*/
    /*height: 500px;*/
}

.login-content {
}

.criteriacontent {
    width: 100%;
    border: black;
}