/* ----------- Left Menu    Panel ----------- */

#containerIntro h1,
#containerIntro input {
    display: inline;
    vertical-align: top;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 16px;*/
    /*line-height: 28px;*/
}

select {
    width:150px;
}

.maincontent {
    width: 99%;
}

.leftmenucontainer {
    width: 15%;
}

.content {
    width: 84%;
    float: right;
    margin-top: -550px;
    height: 500px;
}

.contentNoSideBar {
    width: 84%;
    /*float: right;*/
    /*margin-top: -550px;*/
    /*height: 500px;*/
}

.login-content {
}

.criteriacontent {
    width: 100%;
    border: black;
}