/* ----------- Left Menu    Panel ----------- */

/*body{
    font-family: 'roboto';
    margin: 0;
    color: #2C2828;
    background: #ebebeb;
    font-size: 13px;
}*/

select {
    width:150px;
}

.maincontent {
    width: 100%;
}

.leftmenucontainer {
    width: 25%;
}

.content {
    width: 70%;
    float: right;
    margin-top: -460px;
}

.login-content {
    width: 70%;
}

.criteriacontent {
    width: 100%;
    border: black;
}