/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Οκτ 2015, 10 Οκτ 2015 7:50:19 μμ
    Author     : Admin
*/

p {
    font-family: sans-serif;
}

label.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.custom-select-large select input {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    width: 300px;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .custom-select select {
        padding-right:30px;    
    }
}

/* Since we removed the default focus styles, we have to add our own */
.custom-select select:focus {
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}